@page "/product/index"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject HttpClient _httpClient
@attribute [Authorize(Roles = "admin, staff")]
<br />
<br />
<div class="title" style="text-align:center;">
    <h3 style="font-weight: bold;">PRODUCT MANAGEMENT</h3><br />
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group position-relative has-icon-right">
            <input type="text" class="form-control" placeholder="Search by product name..." @bind="@search">
            <button class="btn form-control-icon" style="border:none;" @onclick="@Search">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-2">
        <select class="form-select" @bind="@cate">
            <option value="0">Choose category</option>
            @foreach (var c in categoryList)
            {
                @if (c.status == 1)
                {
                    <option value="@c.id">@c.name</option>
                }
            }
        </select>
    </div>
    <div class="col-sm-2">
        <select class="form-select" @bind="@brand">
            <option value="0">Choose brand</option>
            @foreach (var b in brandList)
            {
                @if (b.status == 1)
                {
                    <option value="@b.id">@b.name</option>
                }
            }
        </select>
    </div>
    <div class="col-sm-4">
        <a href="/product/addproduct" style="float:right">
            <button class="btn btn-success"><i class="bi bi-plus-circle icon-mid"></i> Add product</button>
        </a>
    </div>
</div>
<br />
<div class="row">
    @if (productList1 != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Import date</th>
                    <th>Import quantity</th>
                    <th>Quantity sold</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in productList1)
                {
                    <tr>
                        <td>@p.id</td>
                        <td>@p.name</td>
                        @foreach (var c in categoryList)
                        {
                            @if (c.id == p.idCategory)
                            {
                                <td>@c.name</td>
                            }
                        }
                        @foreach (var b in brandList)
                        {
                            @if (b.id == p.idBrand)
                            {
                                <td>@b.name</td>
                            }
                        }
                        <td>@String.Format("{0:dd/MM/yyyy}",p.date)</td>
                        <td>@p.count</td>
                        <td>@p.sold</td>
                        <td>
                            <a href="/product/detailproduct/@p.id">
                                <button type="button" class="btn btn-sm btn-outline-success" style="padding-top: 7px;">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </a>
                            <button type="button" class="btn btn-sm btn-outline-danger" style="padding-top: 7px;" @onclick="@(e => Delete_Click(p.id.ToString()))">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </td>
                    </tr>
                }
                <Confirmation ConfirmationMessage="@($"Are you sure to delete?")"
                          ConfirmationTitle="Delete Product"
                          @ref="DeleteConfirmation"
                          ConfirmationChanged="ConfirmDelete_Click">
                </Confirmation>
            </tbody>
        </table>
    }
</div>
<br />
<div class="row">
    <div class="pagination justify-content-center mb-2">
        @if (pagenum != 1)
        {
            <button class="m-1 page-item btn btn-outline-dark" onclick="@PrePage"><i class="bi bi-caret-left"></i></button>
        }
        else
        {
            <button class="m-1 page-item btn btn-outline-dark disabled"><i class="bi bi-caret-left"></i></button>
        }
        @for (int i = 0; i < @totalPage; i++)
        {
            int index = i;
            <a id="page-@i" class="m-1 page-item btn btn-outline-dark @activeClass[i]"
           @onclick="@(e => PageCurrent(index+1))" value="@(i+1)">@(i+1)</a>
        }
        @if (pagenum != totalPage)
        {
            <button class="m-1 page-item btn btn-outline-dark" onclick="@NextPage"><i class="bi bi-caret-right"></i></button>
        }
        else
        {
            <button class="m-1 page-item btn btn-outline-dark disabled"><i class="bi bi-caret-right"></i></button>
        }
    </div>
</div>
<br />
<br />
@code {
    int pagenum = 1;
    int totalPage = 0;
    string search = "";
    int brand = 0;
    int cate = 0;
    List<ProductViewModel> productList = new List<ProductViewModel>();
    List<ProductViewModel> productList1 = new List<ProductViewModel>();
    ProductViewModel p = new ProductViewModel();
    List<string> activeClass = new List<string>();
    List<BrandViewModel> brandList = new List<BrandViewModel>();
    List<CategoryViewModel> categoryList = new List<CategoryViewModel>();
    public string id { get; set; }
    protected Confirmation DeleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await _httpClient.GetAsync("api/product");
        response.EnsureSuccessStatusCode();
        productList = await response.Content.ReadFromJsonAsync<List<ProductViewModel>>();
        productList = new List<ProductViewModel>(productList.Where(p => p.status == 1));

        var response1 = await _httpClient.GetAsync("api/brand");
        response1.EnsureSuccessStatusCode();
        brandList = await response1.Content.ReadFromJsonAsync<List<BrandViewModel>>();

        var response2 = await _httpClient.GetAsync("api/category");
        response2.EnsureSuccessStatusCode();
        categoryList = await response2.Content.ReadFromJsonAsync<List<CategoryViewModel>>();

        double total = productList.Count / 20.0;
        totalPage = (int)Math.Ceiling(total);
        for (int i = (pagenum - 1) * 20; i < pagenum * 20; i++)
        {
            if (i < productList.Count)
            {
                productList1.Add(productList[i]);
            }
            else break;
        }
        for (int i = 0; i < totalPage; i++)
        {
            activeClass.Add("");
        }
        activeClass[0] = "active";
    }

    protected void Delete_Click(string Id)
    {
        id = Id;
        DeleteConfirmation.Show();
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            var response = await Http.DeleteAsync("api/product/" + id);
            bool deleteResponse = await response.Content.ReadFromJsonAsync<bool>();
            if (deleteResponse)
            {
                var response1 = await _httpClient.GetAsync("api/product");
                response1.EnsureSuccessStatusCode();
                productList = await response1.Content.ReadFromJsonAsync<List<ProductViewModel>>();
                productList = new List<ProductViewModel>(productList.Where(p => p.status == 1));
                double total = productList.Count / 20.0;
                totalPage = (int)Math.Ceiling(total);
                if (productList1.Count == 1)
                    PageCurrent(1);
                else PageCurrent(pagenum);
            }
        }
    }

    public async void PageCurrent(int index)
    {

        pagenum = index;
        productList1.Clear();
        for (int i = (pagenum - 1) * 20; i < pagenum * 20; i++)
        {
            if (i < productList.Count)
            {
                productList1.Add(productList[i]);
            }
            else break;
        }
        for (int i = 0; i < totalPage; i++)
        {
            activeClass[i] = "";
        }
        activeClass[index - 1] = "active";
        await JsRuntime.InvokeVoidAsync("ScrollToTop");
    }

    public async void NextPage()
    {
        pagenum += 1;
        PageCurrent(pagenum);
    }

    public async void PrePage()
    {
        pagenum -= 1;

        PageCurrent(pagenum);
    }

    public async void Search()
    {
        var response = await _httpClient.GetAsync("api/product");
        response.EnsureSuccessStatusCode();
        productList = await response.Content.ReadFromJsonAsync<List<ProductViewModel>>();
        var lowerCaseSearchTerm = search.Trim().ToLower();
        if (brand != 0 && cate != 0)
            productList = new List<ProductViewModel>(productList.Where(p => (p.name.ToLower().Contains(lowerCaseSearchTerm) && p.idBrand == brand && p.idCategory == cate && p.status == 1)));
        else if (brand != 0)
            productList = new List<ProductViewModel>(productList.Where(p => (p.name.ToLower().Contains(lowerCaseSearchTerm) && p.idBrand == brand && p.status == 1)));
        else if (cate != 0)
            productList = new List<ProductViewModel>(productList.Where(p => (p.name.ToLower().Contains(lowerCaseSearchTerm) && p.idCategory == cate && p.status == 1)));
        else
            productList = new List<ProductViewModel>(productList.Where(p => (p.name.ToLower().Contains(lowerCaseSearchTerm) && p.status == 1)));
        double total = productList.Count / 20.0;
        totalPage = (int)Math.Ceiling(total);
        PageCurrent(1);
    }
}
